body {
  margin: 0;
  padding: 0;
  font-style: italic;
}

/* SCHEDULE CSS  */

.Schedule {
  display: flex;
  justify-content: right;
  margin-top: -20px;
}

.text-hr {
  color: blue;
}

.text {
  color: grey;
  cursor: pointer;
}
.text:hover {
  color: green;
}
/* NAVBAR CSS */

.navbar-nav {
  margin-top: -20px;
  margin-right: 10px;
}

.clinic-heading {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #0d1b3d;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
  margin-left: 30px;
  margin-top: -20px;
}

@media (max-width: 1200px) {
  .clinic-heading {
    font-size: 2rem;
  }
}

@media (max-width: 992px) {
  .clinic-heading {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .clinic-heading {
    font-size: 1.6rem;
  }
}

@media (max-width: 576px) {
  .clinic-heading {
    font-size: 1.4rem;
  }
}

/* MEDIA QUERIES OF DROPDOWN HOME */

@media (max-width: 768px) {
  .dropdown-menu {
    width: 100%;
    padding: 20px;
  }

  .dropdown-item {
    padding: 15px;
    font-size: 1.1rem;
  }
}

@media (max-width: 576px) {
  .dropdown-menu {
    width: 100%;
    padding: 15px;
    border-radius: 0;
  }

  .dropdown-item {
    padding: 12px;
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .dropdown-menu {
    padding: 10px;
  }

  .dropdown-item {
    padding: 10px;
    font-size: 0.9rem;
  }
}
.navbar-nav .nav-link:hover {
  color: blue;
  border-radius: 5px;
}

.navbar-nav .nav-link {
  font-size: 16px;
  color: green;
  font-weight: bold;
  padding-left: 20px;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #0056b3;
  border-bottom: 3px solid #007bff;
}

/* DROPDOWN CSS */

.stylish-dropdown {
  border-radius: 8px;
  padding: 10px;
}

.stylish-dropdown .dropdown-item {
  color: green;
  font-weight: 500;
}

.stylish-dropdown .dropdown-item:hover {
  color: blue;
}

#slide1 {
  color: black;
  background-color: black;
}
#slide2 {
  color: black;
  background-color: black;
}

/* CARD CSS */

.card {
  background-color: #0d1b3d;
  color: white;
  border-radius: 8px;
  padding: 15px;
}

.card .icon {
  font-size: 50px;
  color: white;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
}

.card-text {
  font-size: 14px;
  margin-top: 10px;
}

.card-btn {
  background-color: white;
  color: black;
  font-style: italic;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}
.card .icon i {
  font-size: 3rem;
  color: white;
  transition: color 0.3s ease;
}

.card:hover .icon i {
  color: #0056b3;
}

.highlight {
  background-color: yellow;
}

/* LOCATION CSS  */

.location-card {
  border: 2px solid #007bff;
  margin: 20px 0;
}

.location-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.location-name {
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.location-card::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #007bff;
  margin: 10px auto;
}
@media (max-width: 768px) {
  .location-card img {
    height: 150px;
  }

  .location-name {
    font-size: 16px;
  }
}

/* FEATURED SECTION CSS */

.services-title {
  text-align: center;
  color: #1e3a8a;
  font-weight: bold;
  margin-top: 20px;
  font-size: 50px;
}

.services-subtitle {
  text-align: center;
  color: #0b0d17;
  font-size: 36px;
  font-weight: 700;
  font-size: 30px;
}
@media (max-width: 768px) {
  .services-subtitle {
    font-size: 28px;
  }
}

@media (max-width: 576px) {
  .services-subtitle {
    font-size: 24px;
  }
}

.container {
  padding-top: 30px;
}
.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
}
.card-body {
  padding: 20px;
}
.card-title {
  font-weight: bold;
  font-size: 1.2rem;
}
.card-text {
  font-size: 1rem;
  line-height: 1.6;
}
.icon {
  font-size: 2rem;
  color: #3498db;
  margin-bottom: 10px;
}
.image-container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.image-container img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .card {
    margin-bottom: 10px;
  }
  .card-body {
    padding: 15px;
  }
  .card-title {
    font-size: 1.1rem;
  }
  .card-text {
    font-size: 0.9rem;
  }
  .image-container {
    height: 150px;
  }
}

/* DOCTOR SECTION CSS  */

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
}

.card-text {
  font-size: 16px;
  color: white;
}

.social-icons a {
  margin: 0 5px;
  color: white;
  font-size: 18px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #007bff;
}

@media (max-width: 768px) {
  .card-img-top {
    height: 180px;
  }
}

@media (max-width: 576px) {
  .card-img-top {
    height: 150px;
  }
}

/* REVIEW CSS */

.review-box {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #0d1b3d;
}
.review-title {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}
.review-rating {
  font-size: 1.5rem;
  color: #f4b400;
}
.powered-by {
  font-size: 0.9rem;
  color: #666;
  margin-top: 7px;
}
@media (max-width: 768px) {
  .review-rating {
    font-size: 1.3rem;
  }
}
@media (max-width: 576px) {
  .review-box {
    padding: 15px;
  }
}

#review {
  font-size: 50px;
  color: darkblue;
}

#hrs {
  color: darkblue;
}

/* FOOTER CSS */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.footer {
  background-color: #0d1b3d;
  color: #fff;
  padding: 40px 0;
  font-size: 15px;
}
.footer h5 {
  font-weight: bold;
  margin-bottom: 20px;
}
.footer p {
  color: #b5b9bf;
}
.footer a {
  color: #b5b9bf;
  text-decoration: none;
}
.footer a:hover {
  color: #fff;
  text-decoration: none;
}
.footer .icon {
  margin-right: 10px;
}
.footer .social-icons a {
  margin-right: 10px;
  display: inline-block;
  font-size: 20px;
  color: #b5b9bf;
}
.footer .social-icons a:hover {
  color: #fff;
}
.footer .opening-hours i {
  margin-right: 10px;
}
.footer .copyright {
  margin-top: 30px;
  text-align: center;
  color: white;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #1f73f0;
  color: white;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Media queries */
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
  .footer .col-md-3 {
    margin-bottom: 20px;
  }
}

.ankor {
  margin-left: 10px;
}

.links {
  margin-left: 20px;
}

.others {
  margin-left: 20px;
}

#clock {
  font-size: 30px;
}

#phone {
  font-size: 20px;
  color: white;
}
#location {
  font-size: 20px;
  color: white;
}
#envelope {
  font-size: 20px;
  color: white;
}

#facebook {
  font-size: 30px;
  color: white;
}
#insta {
  font-size: 30px;
  color: white;
}
#twitter {
  font-size: 30px;
  color: white;
}
